@import "../theme/general.scss";

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 128px;
  z-index: 4;
  @include media("<=phone") {
    height: 96px;
  }
  .logo {
    a {
      font-size: 1.2rem;
      letter-spacing: 0.5rem;
      color: black;
      text-decoration: none;
      font-weight: 700;
    }
  }
  .search {
    @include media("<=phone") {
      display: none;
      width: 0;
      font-size: 0.7em;
    }
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  .show-search {
    display: block;
  }

  .mobile-search {
    font-weight: bold;
    display: none;
    @include media("<=phone") {
      display: block;
    }
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 50px 50px 50px 50px !important;
  border: 1px solid currentColor !important;
  // background-color: rgba(235, 242, 243, 0.356) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border: 0px !important;
}

@include media("<=phone") {
  .mat-form-field {
    width: 30vw;
  }
}
