<footer>
  <div class="container">
    <hr />

    <div class="row">
      <div class="col">
        <span class="col-title">Contact Us</span>
        <div class="col-content">
          <div class="contact">
            <div class="address-line1">
              Agastya International Foundation
            </div>
            <div class="address-line2">
              101 Varsav Plaza,
            </div>
            <div class="address-line2">
              12 Jaymahal Main Road,
            </div>
            <div class="address-line3">
              Bangalore - 560046, INDIA
            </div>
            <div class="phone">
              Tel No. (+91 80) 41124132
            </div>
            <div>
              (+91 80) 23545054
            </div>
            <div class="email">
              Email: info@agastya.org
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <span class="col-title">Help us</span>
        <div class="col-content">
          <ul class="sites">
            <li class="site">
              <a
                href="https://www.agastya.org/how-you-can-help/"
                target="_blank"
                >How you can help?</a
              >
            </li>
            <li class="site">
              <a href="https://agastya.networkforgood.com/" target="_blank"
                >NetworkForGood</a
              >
            </li>
            <li class="site">
              <a href="https://give2asia.org/agastya/" target="_blank"
                >Give to Asia</a
              >
            </li>
            <li class="site">
              <a href="https://www.agastya.org/donate/" target="_blank"
                >Learn More</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <span class="col-title">Our Sites</span>

        <div class="col-content">
          <ul class="sites">
            <li class="site">
              <a href="https://www.agastya.org/" target="_blank"
                >Agastya International Flagship</a
              >
            </li>
            <li class="site">
              <a href="http://www.jignyasa.org/agastya.php" target="_blank"
                >Jignyasa</a
              >
            </li>
            <li class="site">
              <a href="https://www.agastyausa.org/" target="_blank"
                >Agastya USA</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <span class="col-title">Follow Us</span>
        <div class="col-content">
          <div class="socials">
            <a
              href="https://www.facebook.com/Agastya.Foundation/"
              target="_blank"
              ><fa-icon [icon]="facebook"></fa-icon
            ></a>
            <a
              href="https://www.instagram.com/agastya.foundation/"
              target="_blank"
              ><fa-icon [icon]="insta"></fa-icon
            ></a>
            <a href="https://twitter.com/AgastyaSparks/" target="_blank"
              ><fa-icon [icon]="twitter"></fa-icon
            ></a>
            <a href="https://www.youtube.com/c/agastyaorg/" target="_blank"
              ><fa-icon [icon]="youtube"></fa-icon
            ></a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row copyright v-center">
      <span class="logo">
        <img src="assets/images/Agastya-Logo.jpg" alt="" />
      </span>
      <span class="copy-text">
        Copyright &copy; 2020 Agastya International Foundation
      </span>
    </div>
  </div>
</footer>
