<section class="cases" [style.height]="vh / 2 + 'px'">
  <div class="container">
    <div class="row">
      <div class="cases-title">
        <span>FEATURED COURSES</span>
      </div>
      <div
        class="case"
        *ngFor="let category of featuredCat"
        [style.height]="vh / 2 + 'px'"
      >
        <div class="case-details">
          <span>{{ category.name }}</span>
          <h2>{{ category.featuredCourse.name }}</h2>
        </div>
        <div class="case-image">
          <img src="assets/images/history.jpg" />
          <img
            src="{{ url + category.featuredCourse.image.formats.small.url }}"
            default="assets/images/history.jpg"
            class="img-hidden"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="cases-navigation">
      <div class="cases-arrow prev">
        <arrow-left (click)="onLeftArrowClick($event)"></arrow-left>
      </div>
      <div class="cases-arrow next">
        <arrow-right (click)="onRightArrowClick($event)"></arrow-right>
      </div>
    </div>
    <div class="row" style="padding: 0px;"></div>
  </div>
</section>
