@import "../../theme/general.scss";

.cases {
  min-height: 60vh; //fallback
  position: relative;
  margin-bottom: 50px;
  // @include media("<=tablet") {
  //   height: 100%;
  // }
  .cases-navigation {
    position: absolute;
    top: 35%;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    padding: 37px;
    box-sizing: border-box;
    @include media("<=tablet") {
      display: none;
    }
    .cases-arrow {
      background: rgba(0, 0, 0, 0.4);
      height: 72px;
      width: 72px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: $white;
        height: 28px;
        width: 28px;
      }
      &.disabled {
        opacity: 0.3;
      }
    }
  }
  .row {
    @include media("<=tablet") {
      flex-direction: column;
      padding: 0;
    }
    .cases-title {
      position: absolute;
      top: -30px;
      padding-left: 20px;
      margin: 0 16px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-left: thick solid orangered;
      @include media("<=phone") {
        top: -25px;
        padding-left: 10px;
        font-size: 16px;
        letter-spacing: 1.5px;
      }
    }
    .case {
      position: relative;
      height: 100vh; //fallback
      width: 33.33333vw;
      background: $black;
      cursor: pointer;
      &:hover {
        .case-image {
          opacity: 0.4;
        }
      }
      @include media("<=tablet") {
        width: 100vw;
        min-height: 50vh;
        padding: 0;
      }
      .case-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;

        @include media("<=phone") {
          padding: 16px;
        }
        span {
          margin-top: 156px;
          font-size: 1.6rem;
          opacity: 0.8;
          color: $white;
          font-weight: 600;
          @include media("<=desktop", ">tablet") {
            font-size: 1.4rem;
          }
          @include media("<=phone") {
            font-size: 1.2rem;
            line-height: 2.2rem;
          }
        }
        h2 {
          font-size: 2.4rem;
          line-height: 3.4rem;
          width: 85%;
          margin-top: 16px;
          color: $white;
          @include media("<=desktop", ">tablet") {
            font-size: 2rem;
            line-height: 2.4rem;
          }
          @include media("<=phone") {
            font-size: 1.7rem;
            line-height: 2.2rem;
            margin-top: 8px;
          }
        }
      }
      .case-image {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        opacity: 0.65;
        transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .image-hidden {
          display: none;
        }
        .image-loaded {
          display: inline-block;
          z-index: 1;
          top: 0;
          left: 0;
          position: absolute;
        }
      }
    }
  }
}
