@import "../../../theme/general.scss";
.dialog {
    height: 100%;
    width: 100%;

    .title {
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 4vh;
        display: flex;
        direction: row;
        justify-content: space-between;
    }
    
    .content {
        height: 80%;
        width: 100%; 
    }
}