@import "../../theme/general.scss";
.page {
 
  .row {
    
    .course {
      width: 100%;
      margin-top: 15vh;

      .heading{
        border-left: thick solid orangered;
        box-sizing: border-box;
        font-weight: 400;
        padding: 2%;
  
        .category-name{
          text-transform: uppercase;
          font-size: large;
        }
  
        .course-name{
            text-transform: capitalize;
            font-size: xx-large;
            font-weight: bold;
            line-height:5vh;
        }
      }
    
      .lessons {
        padding-left: 2vw;
        margin-top: 5vh;
  
        .lesson {
          padding-left: 1vw;
          margin-top: 2vh;
        
            .logo {
                height: 30px;
                width: 30px;
            }

            span { 
              padding: 5vh; 
              font-size: medium;
          } 
        }
      }
    }
  }
}
