<div class="page">
  <div class="container">
    <div class="row">
      <div class="course">
        <div class="heading">
         <img src={{topic.categories[0].image.url}}>
         <div class="text">
            <div class="category-name">{{topic.categories[0].name}}</div>
            <div class="category-desc">{{topic.categories[0].description}}</div>
           
        </div>
        </div>
       
        <div class="panel">
            <div class="topic-name">{{topic.name}}</div>
            <mat-slide-toggle class="toggle">
            Teacher/Student
            </mat-slide-toggle>
        </div>
        
        <mat-expansion-panel  class="levels" *ngFor="let level of levels">
          <mat-expansion-panel-header>
             <mat-panel-title>
                {{level}}
             </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="subtopic" *ngFor="let subtopic of getSubTopicsByLevel(level)">
            <img class="card-img" src={{subtopic.image.url}}>
            <mat-card>
               <br>
               <mat-card-title>{{subtopic.name}}</mat-card-title>
               <mat-card-actions>
                  <div class="content" *ngFor="let content of getContentBySubTopicId(subtopic.id)">
                     <button  mat-button  (click)="onClick($event,content)">
                        <fa-icon class="logo" [icon]="icon"></fa-icon>  
                        <span>{{content.name}}</span>
                        </button>
                  </div>
               </mat-card-actions>
               <br>
             </mat-card>
          </div>
       </mat-expansion-panel>
    </div>
  </div>
</div>  

