@import "../../theme/general.scss";
.page {
  .row {
    .course {
      width: 100%;
      margin-top: 15vh;
      display: flex;
      flex-direction: column;

      .heading {
        position: relative;
        height: 25vh;

        .banner-image {
          width: 100%;
          height: 100%;
<<<<<<< HEAD
          opacity: 0.4;
          object-fit: cover;
=======
          opacity: 0.8;
          object-fit: cover;

          @include media("<=phone"){
            width: 116%;
            margin-left: -16px;
          }

>>>>>>> upstream/master
        }

        .text {
          color: white;
          position: absolute;
          bottom: 4vh;
          left: 2vw;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding-left: 1vw;

          .topic-name {
            text-transform: uppercase;
            font-size: large;
          }

          .subtopic-name {
            font-size: xx-large;
            text-transform: capitalize;
            line-height: normal;
          }
        }
      }

      .main-filter-panel {
        display: flex;
        margin-top: 2vh;
        justify-content: space-between;

        @include media("<=phone") {
          display: none;
        }

        .main-filter {
          width: fit-content;
        }

        .main-btn-group {
          height: 7vh;
        }
      }

      .mobile-nav-panel {
        display: none;

        @include media("<=phone") {
          display: flex;
          height: fit-content;
          background: none;
          margin-top: 2vh;
          margin-bottom: 2vh;
          justify-content: space-between;
        }

<<<<<<< HEAD
        .mobile-filter-panel {
          display: flex;
          flex-direction: column;

          .mobile-btn-group {
            height: 7vh;
            width: fit-content;
          }

          .mobile-filter {
            width: fit-content;
            margin-top: 3vh;
          }

          .closeBtn {
=======
        .drawer {
      
          .mobile-filter-panel {
            display: flex;
            flex-direction: column;
  
            .mobile-btn-group {
              height: 7vh;
              width: fit-content;
            }
  
            .mobile-filter{
              width: fit-content;
              margin-top: 3vh;
  
            }
    
            .closeBtn{
              width: 100%;
            }
>>>>>>> upstream/master
          }
        }
      }

      .levels {
        margin-top: 1vh;

        .level {
          text-transform: uppercase;
        }

        .content {
          .content-btn {
            position: relative;
            top: 0;
            transition: top ease 0.1s;

            .logo {
              height: 30px;
              width: 30px;
            }

            span {
              padding-left: 2vw;
              font-size: medium;
            }
          }
          .content-btn:hover {
            top: -1vh;
          }
        }
      }
    }
  }
}
