@import "../../theme/general.scss";
.page {
 
  .row {
    
    .course {
      width: 100%;
      margin-top: 18vh;
      display: flex;
      flex-direction: column;

      .heading {
        background-color: rgb(7, 6, 14);
        height: 18vh;
        display: flex;
        flex-direction: row;
  
        .banner-image{
          width: 30vh;
          height: 100%;
        }

        .text {
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding-left: 1vw;

          .topic-name{
            text-transform: uppercase;
            font-size: large;
          }
  
          .subtopic-name{
            font-size: xx-large;
            text-transform: capitalize;
          }
        }
      }

      .filter-panel{
        display: flex;
        margin-top: 2vh;
        justify-content: space-between;

        .btn-group {
          height: 7vh;
        }
      }
    
      .levels {
        margin-top: 1vh;

        .level {
          text-transform: uppercase;
        }

        .content {

            .logo {
                height: 30px;
                width: 30px;
            }

            span { 
              padding-left: 2vw;
              font-size: medium;
          } 
        }
      }
    }
  }
}
