<nav>
  <div class="container">
    <div class="nav-columns">
      <div class="nav-column">
        <div class="nav-label">Menu</div>
        <ul class="nav-links">
          <li *ngFor="let category of categories">
            <a
              [routerLink]="'search/category/' + category.id"
              routerLinkActive="active"
              (click)="closeMenuAnimation()"
            >
              {{ category.name }}
            </a>
          </li>
          <!-- <li>
            <a routerLink="/approach" routerLinkActive="active">
              Approach
            </a>
          </li>
          <li>
            <a routerLink="/services" routerLinkActive="active">
              Services
            </a>
          </li>
          <li>
            <a routerLink="/about-us" routerLinkActive="active">
              About us
            </a>
          </li> -->
        </ul>
      </div>
      <div class="nav-column">
        <div class="nav-label">Contact</div>
        <div class="nav-infos">
          <ul class="nav-info">
            <li class="nav-info-label">Email</li>
            <li>
              <a routerLink="/contact" routerLinkActive="active">
                Get in touch with us
              </a>
            </li>
            <li>
              <a routerLink="/audit" routerLinkActive="active">
                Get a free audit
              </a>
            </li>
          </ul>
          <ul class="nav-info">
            <li class="nav-info-label">Headquarter</li>
            <li>Route du Jura 49</li>
            <li>1700 Fribourg</li>
            <li>Switzerland</li>
          </ul>
          <ul class="nav-info">
            <li class="nav-info-label">Phone</li>
            <li>+41 (0) 79 510 28 70</li>
          </ul>
          <ul class="nav-info">
            <li class="nav-info-label">Legal</li>
            <li>Privacy & Cookies</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
