<nav>
  <div class="container">
    <div class="nav-columns">
      <div class="nav-column">
        <div class="nav-label">Categories</div>
        <ul class="nav-links">
          <li *ngFor="let cat of categories">
            <!-- {{ cat.id }} -->
            <a (mouseover)="onMouseOverCategory(cat)">
              {{ cat.name }}
            </a>
          </li>
        </ul>
      </div>
      <div class="nav-column">
        <div class="nav-label">Topics</div>
        <div class="nav-infos">
          <ul class="nav-info">
            <li class="nav-info-label">
              {{ category?.name }}
            </li>
            <li *ngFor="let topic of category?.topics">
              <a (mouseover)="onMouseOverTopic(topic)">
                {{ topic?.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="nav-column">
        <div class="nav-label">Sub-Topics</div>
        <div class="nav-infos">
          <ul *ngIf="topic?.subTopics.length" class="nav-info">
            <li class="nav-info-label">{{ topic?.name }}</li>
            <li *ngFor="let subTopic of topic?.subTopics">
              <a
                [routerLink]="'course/' + subTopic.id"
                routerLinkActive="active"
                (click)="closeMenuAnimation()"
              >
                {{ subTopic?.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
