@import "../theme/general.scss";

nav {
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  position: fixed;
  overflow: hidden;
  background: $grey;
  .category-image {
    position: fixed;
    object-fit: cover;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: -1;
    // @include media("<=phone") {
    //   width: 100%;
    //   height: 100%;
    // }
  }
  a {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      display: block;
      margin-top: 5px;
      right: 0;
      background: $black;
      transition: 0.4s ease;
    }
    &:hover {
      color: pink;
      &:after {
        width: 100%;
        left: 0;
        background: $black;
      }
    }
  }
  .nav-columns {
    transform: translateY(125px);
    display: flex;
    padding: 0 32px;
    @include media("<=654px") {
      flex-direction: column;
      @include media("<=phone") {
        padding: 0 16px;
      }
    }
    .sub-nav {
      @include media("<=phone") {
        display: none;
      }
    }
    .nav-column {
      width: 45%;
      @include media("<=654px") {
        width: 100%;
      }
      &:last-child {
        width: 55%;
        @include media("<=654px") {
          width: 100%;
        }
      }
      .nav-label {
        margin-bottom: 3rem;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        @include media("<=tablet") {
          font-size: 0.8rem;
          margin-bottom: 1.4rem;
        }
        @include media("<=phone") {
          font-size: 0.875rem;
          margin-bottom: 0.7rem;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
        }
      }

      .nav-title {
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 1.6rem;
        @include media("<=phone") {
          font-size: 1rem;
          margin-bottom: 1rem;
          margin-top: 2rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.08rem;
          color: #585858;
        }
      }
      .nav-infos {
        display: flex;
        flex-wrap: wrap;
        @include media("<=654px") {
          justify-content: space-between;
        }
        .nav-info {
          padding: 0;
          width: 50%;

          .nav-info-label {
            font-weight: 600;
          }
          li {
            font-weight: 300;
            list-style: none;
            font-size: 1.4rem;
            margin-bottom: 1.2rem;
            @include media("<=tablet") {
              font-size: 1.2rem;
              margin-bottom: 1rem;
            }
            @include media("<=phone") {
              font-size: 1rem;
              margin-bottom: 0.875rem;
            }
            a {
              text-decoration: none;
              color: $black;
            }
          }
        }
      }
      .nav-links {
        overflow-y: auto;
        position: absolute;
        max-height: 425px;
        padding: 15px;
        margin-top: 2rem;

        @include media("<=phone") {
          margin-top: 0;
        }
        li {
          list-style: none;
          margin-bottom: 2.4rem;
          @include media("<=phone") {
            margin-bottom: 1.6rem;
          }
          a {
            font-weight: 600;
            font-size: 2.8rem;
            text-decoration: none;
            color: $black;
            @include media("<=phone") {
              font-size: 2rem;
              line-height: 2rem;
              position: relative;
              &:after {
                content: "";
                position: absolute;
                height: 2px;
                display: block;
                margin-top: 5px;
                right: 0;
                background: $black;
                width: 100%;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
