<section class="main" [style.height]="vh / 2 + 'px'">
  <div class="container">
    <div class="row">
      <h2>
        <div class="line">
          <span>Learn. Create</span>
        </div>
        <div class="line">
          <span>Evolve.</span>
        </div>
      </h2>
      <div class="btn-row">
        <a [routerLink]="'/search'" routerLinkActive="active"
          >Search Courses
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-arrow-right"
          >
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
