@import "./theme/general.scss";
.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

// .page {
//   height: 100vh;
//   width: 100%;
//   background: $white;
//   .row {
//     display: flex;
//     align-items: center;
//   }
// }
