@import "./theme/general.scss";
.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
  background-color: $white;
}

#page {
  .row {
    display: flex;
    align-items: center;
  }
}

.hide {
  display: none;
}
