@import "../../theme/general.scss";

img {
  filter: brightness(0.9);
  object-fit: cover;
}

.zoom-image:hover {
  img {
    transform: scale(1.2);
    cursor: pointer;
    object-fit: cover;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

::ng-deep .mat-figure {
  display: block !important;
}

::ng-deep .mat-grid-tile .mat-figure {
  align-items: flex-start !important;
  padding-top: 10px;
}

.cases {
  min-height: 50vh; //fallback
  position: relative;
  margin-bottom: 65px;

  .row {
    @include media("<=tablet") {
      flex-direction: column;
      padding: 0;
    }
    .cases-title {
      position: absolute;
      top: -30px;
      padding-left: 20px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-left: thick solid orangered;
      @include media("<=phone") {
        top: -25px;
        padding-left: 10px;
        font-size: 16px;
        letter-spacing: 1.5px;
        margin: 0 16px;
      }
    }
    .case {
      position: relative;
      height: 100%;
      width: 33.33333vw;
      background: $black;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      &:hover {
        .case-image {
          opacity: 0.4;
        }
      }
      @include media("<=tablet") {
        width: 100vw;
        min-height: 50vh;
        padding: 0;
        position: absolute;
        z-index: 0;
        &:nth-of-type(1) {
          z-index: 1;
        }
      }
      .case-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;

        @include media("<=phone") {
          padding: 16px;
        }
        span {
          margin-top: 200px;
          font-size: 1.6rem;
          opacity: 0.8;
          color: $white;
          font-weight: 600;
          @include media("<=desktop", ">tablet") {
            font-size: 1.4rem;
          }
          @include media("<=phone") {
            font-size: 1.2rem;
            line-height: 2.2rem;
            margin-top: 210px;
          }
        }
        h2 {
          font-size: 2.4rem;
          line-height: 3.4rem;
          width: 85%;
          margin-top: 16px;
          color: $white;
          @include media("<=desktop", ">tablet") {
            font-size: 2rem;
            line-height: 2.4rem;
          }
          @include media("<=phone") {
            font-size: 1.7rem;
            line-height: 2.2rem;
            margin-top: 8px;
          }
        }
        .placeholder1 {
          margin-top: 200px;
          font-size: 1.6rem;
          opacity: 0.3;
          width: 90%;
          color: $white;
          font-weight: 600;
          background-color: lightgrey;
          @include media("<=desktop", ">tablet") {
            font-size: 1.4rem;
          }
          @include media("<=phone") {
            font-size: 1.2rem;
            line-height: 2.2rem;
            margin-top: 210px;
          }
        }
        .placeholder2 {
          width: 150px;
          background-color: lightgrey;
          opacity: 0.3;
          font-size: 2.4rem;
          line-height: 2.8rem;
          width: 75%;
          margin-top: 16px;
          color: $white;
          @include media("<=desktop", ">tablet") {
            font-size: 2rem;
            line-height: 2.4rem;
          }
          @include media("<=phone") {
            font-size: 1.7rem;
            line-height: 2.2rem;
            margin-top: 8px;
          }
        }
      }
      .case-image {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        opacity: 0.65;
        transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .image-hidden {
          display: none;
        }
        .image-loaded {
          display: inline-block;
          z-index: 1;
          top: 0;
          left: 0;
          position: absolute;
        }
      }
    }
  }
}

.main-panel {
  @include media("<=tablet") {
    // display: none;
  }
  @include media("<=phone") {
    display: none;
  }
}

.tablet-only {
  padding: 15px;
  display: none;
  @include media(("<=tablet") and (">=phone")) {
    display: block;
  }
  @include media(">tablet") {
    display: none;
  }
}

.mobile-only {
  padding: 15px;
  display: none;
  @include media("<=phone") {
    display: block;
  }
}

.row {
  .left-panel {
    height: 100%;
    width: 60%;
    float: left;
    padding-right: 40px;
    width: 100vh;
    height: 100vh;
    @include media("<=tablet") {
      width: 100%;
      height: 100%;
      float: left;
      padding-left: 25px;
      padding-right: 40px;
      width: 100vh;
      height: 120vh;
      display: block;
    }

    .left-panel-main-container {
      position: relative;
      width: 100%; /* for IE 6 */
      display: inline-block;
      overflow: hidden;
      height: 23.5em;
      color: white;
      img {
        filter: brightness(0.8);
        transition: transform 0.4s;
        width: 100%;
        height: 23.5em;
        object-fit: cover;
      }
      .course-content {
        position: absolute;
        padding: 10px;
        left: 0;
        width: 100%;
        cursor: pointer;
      }
      @include media("<=tablet") {
      }
    }

    .section2-courses {
      height: 2.5em;
      cursor: pointer;
      .section2-courses-img-container {
        display: inline-block;
        overflow: hidden;
      }
      .section2-courses-img-container-img {
        width: 100%;
        height: 14em;
      }
      .section2-courses-img-container:hover {
        display: inline-block;
        overflow: hidden;
        img {
          transform: scale(1.05);
          transform-origin: 5% 5% 5% 5%;
          border-bottom: 5px solid orangered;
          cursor: pointer;
          object-fit: cover;
        }
      }
    }

    .section2-courses:hover {
      img {
        transform: scale(1.05);
        transform-origin: 5% 5% 5% 5%;
        border-bottom: 5px solid orangered;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }

  .right-panel {
    height: 100%;
    width: 40%;
    float: right;

    @include media("<=tablet") {
      width: 100vh;
      height: 100%;
      display: block;
      padding-left: 25px;
      padding-right: 40px;
      padding-top: 15px;
    }

    .right-panel-courses {
      align-content: center;
      cursor: pointer;
    }

    .right-panel-courses:hover {
      align-content: center;
      border-left: 3px solid orangered;
      cursor: pointer;
      h5 {
        color: black;
      }
      h3 {
        color: #787878;
      }
    }
  }
}

.container-recentcourses {
  position: relative;
}

/* Bottom right text */
.text-block-recentcourses {
  position: absolute;
  bottom: 20px;
  right: 20px;

  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.course-detail {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8rem;
  // margin-top: 200px;
  opacity: 1;
  color: $white;
  font-weight: 600;
}

.course-title {
  font-size: 2.4rem;
  line-height: 3.4rem;
  width: 85%;
  margin-top: 5px;
  color: $white;
  @include media("<=desktop", ">tablet") {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  @include media("<=phone") {
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin-top: 8px;
  }
}
