<section class="cases" [style.height]="vh / 2 + 'px'">
  <div class="container">
    <div class="row">
      <div class="cases-title">
        <span>Recent Courses</span>
      </div>
    </div>
  </div>

  <div class="main-panel">
    <div class="container" style="margin-top: 5px;">
      <div class="row">
        <div class="left-panel">
          <mat-grid-list cols="1" *ngIf="course1">
            <div class="mat-card left-panel-main-container">
              <div class="zoom-image">
                <img [src]="course1.image?.formats.large.url" />
                <span class="course-content">
                  <h5>
                    <b>{{ course1.name | uppercase }}</b>
                  </h5>
                  <h1>
                    <b>{{ course1.description }}</b>
                  </h1>
                </span>
              </div>
            </div>
          </mat-grid-list>

          <div style="padding-top: 15px;">
            <mat-grid-list cols="2" gutterSize="25px" rowHeight="20.5rem">
              <mat-grid-tile class="mat-card section2-courses">
                <div *ngIf="course2">
                  <div class="section2-courses-img-container">
                    <div class="">
                      <img
                        [src]="course2.image.formats.small.url"
                        class="section2-courses-img-container-img"
                      />
                    </div>
                    <div style="padding-left: 5px;">
                      <h5>
                        <b>{{ course2.name | uppercase }}</b>
                      </h5>
                      <h1>
                        <b>{{
                          course2.description
                            ? (course2.description | slice: 0:120) + ".."
                            : course2.description
                        }}</b>
                      </h1>
                    </div>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile class="mat-card section2-courses" *ngIf="course3">
                <div *ngIf="course3">
                  <div class="section2-courses-img-container">
                    <div class="">
                      <img
                        [src]="course3.image.formats.small.url"
                        class="section2-courses-img-container-img"
                      />
                    </div>
                    <div style="padding-left: 5px;">
                      <h5>
                        <b>{{ course3.name | uppercase }}</b>
                      </h5>
                      <h1>
                        <b>{{
                          course3.description
                            ? (course3.description | slice: 0:120) + ".."
                            : course3.description
                        }}</b>
                      </h1>
                    </div>
                  </div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>

        <div class="right-panel" *ngIf="restOfTheCourses">
          <div *ngFor="let course of restOfTheCourses">
            <mat-grid-list
              cols="3"
              rowHeight="6rem"
              class="mat-card right-panel-courses"
            >
              <mat-grid-tile>
                <img
                  mat-card-image
                  style="height: 100%; width: 100%; object-fit: cover;"
                  [src]="course.image.formats.thumbnail.url"
              /></mat-grid-tile>

              <mat-grid-tile colspan="2">
                <div style="padding-left: 5px;">
                  <h5>
                    <b>{{ course.name | uppercase }}</b>
                  </h5>
                  <h3>
                    <b>{{
                      course.description
                        ? (course.description | slice: 0:90) + "..."
                        : course.description
                    }}</b>
                  </h3>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <div style="padding-top: 20px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-only" *ngIf="restOfTheCourses">
    <div *ngFor="let course of restOfTheCoursesMobile">
      <mat-grid-list
        cols="3"
        rowHeight="6rem"
        class="mat-card right-panel-courses"
        style="width: 100%;"
      >
        <mat-grid-tile>
          <img
            mat-card-image
            style="height: 100%; width: 100%;"
            [src]="course.image.formats.thumbnail.url"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <div style="padding-left: 3px; float: left;">
            <h5>
              <b>{{ course.name | uppercase }}</b>
            </h5>
            <h3>
              <b>{{ course.description }}</b>
            </h3>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div style="padding-top: 15px;"></div>
    </div>
  </div>
</section>
